{
  "printWidth": 100,
  "tabWidth": 4,
  "trailingComma": "all",
  "arrowParens": "always",
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "printWidth": 100,
        "bracketSpacing": true,
        "explicitTypes": "always"
      }
    }
  ]
}
